<div class="border py-4 container">
    <div class="form-group">
        <label class="form-label">Type</label>
        <select class="custom-select" [(ngModel)]="item.type">
            <option value="" disabled="">&lt;Please choose one&gt;</option>
            <option value="compulsory">compulsory</option>
            <option value="elective">elective</option>  
        </select>
    </div><br>
    <div class="form-group">
        <label class="form-label">Id</label>
        <input disabled="" type="number" class="form-control" [(ngModel)]="item.id">
    </div><br>
    <div class="form-group">
        <label class="form-label">Code</label>
        <input disabled="" type="text" class="form-control" [(ngModel)]="item.code">
    </div><br>
    <div class="form-group">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" [(ngModel)]="item.name">
    </div><br>
    <div class="form-group">
        <label class="form-label">Semester</label>
        <input type="number" class="form-control" [(ngModel)]="item.semester">
    </div><br>
    <div class="form-group">
        <label class="form-label">Credits</label>
        <input type="number" class="form-control" [(ngModel)]="item.credits">
    </div>
    <br><br>
    <div *ngIf="item.type == 'elective'" class="form-group">
        <label class="form-label">Dept name</label>
        <input type="text" class="form-control" [(ngModel)]="item.deptName">        
    </div>  <br><br>  
    <div class="d-flex justify-content-end mx-0 row">
        <div class="col-md-9"></div>
        <button type="button" class="btn btn-secondary" (click) = "reset()">Reset</button>
        <button type="button" class="ml-2 btn btn-primary" (click)="save()">Save</button>
    </div>
</div>
