<form v-on:submit.prevent="onSubmit">
    <div
        v-if="!parentData || !parentData.hidFields || !parentData.hidFields.includes('id')"
    >
        <div class="form-group">
            <label class="form-label">Id</label>
            <input
                disabled
                type="number"
                class="form-control"
                v-model="studentClass.id"
                title="Id"
            />
        </div>
        <br />
    </div>
    <div
        v-if="!parentData || !parentData.hidFields || !parentData.hidFields.includes('name')"
    >
        <div class="form-group">
            <label class="form-label">Name</label>
            <input
                type="text"
                class="form-control"
                v-model="studentClass.name"
                title="Name"
            />
        </div>
        <br />
    </div>

    <div
        v-if="!parentData || !parentData.hidFields || !parentData.hidFields.includes('students')"
    >
        <div
            class="
                d-flex
                flex-wrap
                justify-content-between
                align-items-end
                form-group
            "
        >
            <button
                type="button"
                class="mr-1 btn btn-success"
                v-on:click="formSubModuleStudentSeen = !formSubModuleStudentSeen"
            >
                Form: Student
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-chevron-down"
                    viewBox="0 0 16 16"
                >
                    <path
                        fill-rule="evenodd"
                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                    />
                </svg>
            </button>
        </div>
        <div class="form-group" v-if="formSubModuleStudentSeen">
            <form-sub-module-student
                v-bind:parentData="dataSubForm"
            ></form-sub-module-student>
        </div>
        <br />
    </div>
    <div class="d-flex justify-content-end mx-0 row">
        <div class="col-md-9"></div>
        <button type="reset" class="btn btn-secondary">Reset</button>
        <button type="submit" class="ml-2 btn btn-primary">Save</button>
    </div>
    <Toasts></Toasts>
</form>
