<div id="root">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-nav">
                <a href="/" class="navbar-brand">Courseman</a>
                <div class="dropdown">
                    <a role="button" class="dropdown-toggle nav-link" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Go to
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <router-link class="dropdown-item" to="/student-class">
                            Manage Student classes
                        </router-link>

                        <router-link class="dropdown-item" to="/address">
                            Manage Addresses
                        </router-link>

                        <router-link class="dropdown-item" to="/course-module">
                            Manage Course modules
                        </router-link>

                        <router-link class="dropdown-item" to="/enrolment">
                            Manage Enrolments
                        </router-link>

                        <router-link class="dropdown-item" to="/student">
                            Manage Students
                        </router-link>

                        <!-- demo design pattern -->
                        <router-link class="dropdown-item" to="/demo">
                            Demo
                        </router-link>
                    </div>
                </div>
            </div>
            <div class="navbar-nav">
                <a href="#" class="nav-link" role="button">Help</a>
            </div>
        </div>
    </nav>
    <br />
    <div class="container">
        <div class="row justify-content-center">
            <!-- Accordion menu. Hide if the output is empty array -->
            <div class="col-md-3 sidebar accordion_menu_div" v-if="processedItems.length !== 0">
                <div class="input-group mb-1">
                    <input type="text" class="form-control" placeholder="Search categories"
                        aria-label="Search categories" aria-describedby="basic-addon2" v-model="searchQuery" />
                </div>
                <div class="accordion_menu_display">
                    <!-- Accordion menu component is a recursive component to display sub-sub-etc-menu -->
                    <accordion-menu v-bind:Items="processedItems" v-bind:searchQuery="searchQuery"></accordion-menu>
                </div>
            </div>

            <!-- Main content -->
            <div class="col-md-9 main_content">
                <router-view />
            </div>
        </div>
    </div>
</div>