<form v-on:submit.prevent="onSubmit">
    @if{hasSubType}((<div class="form-group"><label class="form-label">Type</label>
        <select class="custom-select" v-model="@slot{{moduleName}}.type">
            <option value="" disabled="">Please choose one</option>@loop{types}[[
            <option value="@slot{{type}}">@slot{{type}}</option>]]loop{types}@
        </select>
    </div><br>))if{hasSubType}@
    @slot{{normalInputs}}
    @slot{{enumInputs}}
    @slot{{linkedOne2OneInputs}}
    @slot{{linkedOne2ManyInputs}}@loop{subTypeInputs}[[    @slot{{normalTypedInputs}}    @slot{{enumTypedInputs}}    @slot{{linkedTypedOne2OneInputs}}     @slot{{linkedTypedOne2ManyInputs}}
    ]]loop{subTypeInputs}@
    <div class="d-flex justify-content-end mx-0 row">
        <div class="col-md-9"></div>
        <button type="button" class="btn btn-secondary">Reset</button>
        <button class="ml-2 btn btn-primary">Save</button>
    </div>
    <Toasts></Toasts>
</form>