<div class="border py-4 container">
    <h2 class="text-center">Form: @slot{{Module__name}}</h2><br>
    <div class="mx-0 d-flex justify-content-between row">
        <div class="px-0 col">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <p class="btn btn-primary nav-link" v-on:click="mainForm()">
                        Main
                    </p>
                </li>
                &nbsp;
                <li class="nav-item">
                    <p class="btn btn-primary nav-link" v-on:click="display=3">
                        Browse
                    </p>
                </li>
            </ul>
        </div>
        <div class="px-0 d-flex justify-content-end col">
            <form class="d-flex justify-content-between form-inline">
                <input placeholder="ID..." type="text" class="mr-1 col-md-4 form-control">
                <input placeholder="Search" type="text" class="mr-1 col-md-6 form-control" value="">
                <button type="button" class="btn btn-outline-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </form>
        </div>
    </div>
    </br>
    <div class="tab-content">
        <div>
            <form-add v-if="display == 1" v-bind:parentData="dataSubForm"></form-add>
        </div>
        <div>
            <form-add v-if="display == 2" v-bind:parentData="dataSubForm"></form-add>
        </div>
        <div>
            <form-list v-if="display == 3" v-bind:parentData="dataSubForm" @data="setData" ></form-list>
        </div>
    </div>
    <Toasts></Toasts>
</div>

