<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>ID</th>@loop{normalFieldLabels}[[
            <th>@slot{{fieldLabel}}</th>]]loop{normalFieldLabels}@
            @loop{linkedFieldLabels}[[
            <th>@slot{{fieldLabel}}</th>]]loop{linkedFieldLabels}@
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <tr style="cursor: pointer;" v-for="(@slot{{moduleName}}, index) in @slot{{moduleNames}}" v-if="@slot{{moduleNames}}" :key="@slot{{moduleName}}.@slot{{idField}}">
        <td style="vertical-align: middle;">{{index + 1}}</td>
        <td style="vertical-align: middle;">{{@slot{{moduleName}}.@slot{{idField}}}}</td>@loop{normalFieldColumns}[[
        <td style="vertical-align: middle;">{{@slot{{moduleName}}.@slot{{fieldName}}}}</td>]]loop{normalFieldColumns}@ @loop{linkedFieldColumns}[[
        <td>{{@slot{{moduleName}}.@slot{{fieldName}}}}</td>]]loop{linkedFieldColumns}@
        <td style="vertical-align: middle; width: 200px;">
            <button class="btn btn-primary" v-on:click="emitData(@slot{{moduleName}})">
                Edit
            </button>
            <a class="btn btn-danger" data-target="#myModal" v-on:click="get@slot{{ModuleName}}Id(@slot{{moduleName}}.id)" data-toggle="modal">
                Delete
            </a>
        </td>
    </tr>
    </tbody>
    <Toasts></Toasts>
    <modal-confirm @confirm="delete@slot{{ModuleName}}(@slot{{moduleName}}Id)"></modal-confirm>
</table>