<form v-on:submit.prevent="onSubmit">
    <div class="form-group" v-if="form.hidId == true">
        <label class="form-label">Id</label>
        <input disabled="" class="form-control" id="id" v-model="student.id">
    </div>
    <br>
    <div class="form-group" v-if="form.hidName">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" id="name" v-model="student.name" required pattern="[A-Za-z0-9]+">
    </div>
    <br>
    <div class="form-group" v-if="form.hidGender">
        <label class="form-label">Gender</label>
        <select class="custom-select" v-model="student.gender">
            <option value="" disabled="">&lt;Please choose one&gt;</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>
    <br>
    <div class="form-group" v-if="form.hidDob">
        <label class="form-label">Dob</label>
        <input type="date" class="form-control" v-model="student.dob">
    </div>
    <br>
    <div class="d-flex flex-wrap justify-content-between align-items-end form-group " v-if="form.hidAddress">
        <div class="px-0 col-md-2.5">
            <label class="form-label">Address ID</label>
            <input type="number" class="form-control" v-model="student.address.id" v-on:change="getAddressById">
        </div>
        <div class="px-0 col-md-7">
            <label class="form-label">Address</label>
            <input disabled="" type="text" class="form-control" value="" v-model="student.address.name">
        </div>
        <button disabled="" type="button" class="btn btn-outline-danger">Unlink</button>
        <button type="button" class="btn btn-outline-secondary" v-on:click="formSubModuleAddressSeen = !formSubModuleAddressSeen">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
        </button>
    </div>
    <div class="form-group" v-if="formSubModuleAddressSeen">
        <form-sub-module-address v-bind:data="dataSubForm"></form-sub-module-address>
    </div>
    <br><br>
    <div class="form-group" v-if="form.hidEmail">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" v-model="student.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
    </div>
    <br>
    <div class="d-flex flex-wrap justify-content-between align-items-end form-group">
        <div class="px-0 col-md-2.5">
            <label class="form-label">Student class Id</label>
            <input type="number" class="form-control" v-model="student.studentClass.id">
        </div>
        <div class="px-0 col-md-9">
            <label class="form-label">Student class</label>
            <input disabled="" type="text" class="form-control" v-model="student.studentClass.name">
        </div>
    </div>
    <br>
    <button type="button" class="mr-1 btn btn-success" v-on:click="formSubModuleEnrolmentSeen = !formSubModuleEnrolmentSeen">Form: Enrolment
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
    </button>
    <div class="form-group" v-if="formSubModuleEnrolmentSeen">
        <form-sub-module-enrolment v-bind:data="dataSubForm"></form-sub-module-enrolment>
    </div>
    <br><br>
    <div class="d-flex justify-content-end mx-0 row">
        <div class="col-md-9"></div>
        <button type="button" class="btn btn-secondary">Reset</button>
        <button class="ml-2 btn btn-primary">Save</button>
    </div>
    <Toasts></Toasts>
</form>