<form v-on:submit.prevent="onSubmit">
    <div v-if="hidFields('id')">
        <div class="form-group">
            <label class="form-label" for="StudentID">Student ID</label>
            <input disabled type="text" class="form-control" v-model="student.id" title="Student ID" id="StudentID" />
        </div>
        <br />
    </div>
    <div v-if="hidFields('name')">
        <div class="form-group">
            <label class="form-label" for="FullName">Full Name</label>
            <input type="text" class="form-control" v-model="student.name" title="Full Name" id="FullName" />
        </div>
        <br />
    </div>
    <div v-if="hidFields('dob')">
        <div class="form-group">
            <label class="form-label" for="DateOfBirth">Date of birth</label>
            <input type="date" class="form-control" v-model="student.dob" title="Date of birth" id="DateOfBirth" />
        </div>
        <br />
    </div>
    <div v-if="hidFields('email')">
        <div class="form-group">
            <label class="form-label" for="Email">Email</label>
            <input type="text" class="form-control" v-model="student.email" title="Email" id="Email" />
        </div>
        <br />
    </div>

    <div v-if="hidFields('gender')">
        <div class="form-group">
            <label class="form-label" for="Gender">Gender</label>
            <select class="custom-select" v-model="student.gender" title="Gender" id="Gender">
                <option value="" disabled="">&lt;Please choose one&gt;</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <br />
    </div>

    <div v-if="hidFields('address')">
        <div class="
                d-flex
                flex-wrap
                justify-content-between
                align-items-end
                form-group
            ">
            <div class="px-0 col-md-2.5">
                <label class="form-label" for="AddressAdd">Address ID</label>
                <input type="text" class="form-control" v-model="addressId" v-on:change="getAddressById"
                    title="Address ID" id="AddressAdd" />
            </div>
            <div class="px-0 col-md-7">
                <label class="form-label" for="Address">Address</label>
                <input disabled type="text" class="form-control" v-bind:value="addressQuickView" title="Address"
                    id="Address" />
            </div>
            <button type="button" class="btn btn-outline-danger" v-on:click="unlinkAddress">
                Unlink
            </button>
            <button type="button" class="btn btn-outline-secondary"
                v-on:click="formSubModuleAddressSeen = !formSubModuleAddressSeen" title="Address">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>
        </div>
        <div class="form-group" v-if="formSubModuleAddressSeen">
            <form-sub-module-address v-bind:parentData="dataSubForm"></form-sub-module-address>
        </div>
        <br />
    </div>
    <div v-if="hidFields('studentClass')">
        <div class="
                d-flex
                flex-wrap
                justify-content-between
                align-items-end
                form-group
            ">
            <div class="px-0 col-md-2.5">
                <label class="form-label" for="StudentClassAdd">Student class ID</label>
                <input type="text" class="form-control" v-model="studentClassId" v-on:change="getStudentClassById"
                    title="Student class ID" id="StudentClassAdd" />
            </div>
            <div class="px-0 col-md-7">
                <label class="form-label" for="StudentClass">Student class</label>
                <input disabled type="text" class="form-control" v-bind:value="studentClassQuickView"
                    title="Student class" id="StudentClass" />
            </div>
            <button type="button" class="btn btn-outline-danger" v-on:click="unlinkStudentClass">
                Unlink
            </button>
            <button type="button" class="btn btn-outline-secondary"
                v-on:click="formSubModuleStudentClassSeen = !formSubModuleStudentClassSeen" title="Student class">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>
        </div>
        <div class="form-group" v-if="formSubModuleStudentClassSeen">
            <form-sub-module-student-class v-bind:parentData="dataSubForm"></form-sub-module-student-class>
        </div>
        <br />
    </div>

    <div v-if="hidFields('enrolments')">
        <div class="
                d-flex
                flex-wrap
                justify-content-between
                align-items-end
                form-group
            ">
            <button type="button" class="mr-1 btn btn-success"
                v-on:click="formSubModuleEnrolmentSeen = !formSubModuleEnrolmentSeen" id="Enrolment">
                Form: Enrolment
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>
        </div>
        <div class="form-group" v-if="formSubModuleEnrolmentSeen">
            <form-sub-module-enrolment v-bind:parentData="dataSubForm"></form-sub-module-enrolment>
        </div>
        <br />
    </div>
    <div class="d-flex justify-content-end mx-0 row">
        <div class="col-md-9"></div>
        <button type="button" class="btn btn-secondary">Reset</button>
        <button type="submit" class="ml-2 btn btn-primary">Save</button>
    </div>
    <Toasts></Toasts>
</form>