<div v-modelRegion :id="id">
    <h1>Demo design patterns</h1>
    <br />

    <view-region name="searchbox" v-bind:patternService="patternService"></view-region>
    <h1>Should be changed: {{searchKeyword}}</h1>

    <!-- <AccordionMenu></AccordionMenu> -->
    <view-region name="menu" v-bind:patternService="patternService"></view-region>
    <view-region name="searchbox" v-bind:patternService="patternService"></view-region>
    <h1>Should be changed: {{searchKeyword}}</h1>

    <!-- <AccordionMenu></AccordionMenu> -->
    <view-region name="menu" v-bind:patternService="patternService"></view-region>
</div>