<div id="demo">
    <h1>Demo design patterns</h1>
    <br />

    <h4>Date range picker</h4>
    <date-range-picker ref="picker" v-model="dateRange">
        <template v-slot:input="picker" class="input_date">
            {{ picker.startDate | date }} - {{ picker.endDate | date }}
        </template>
    </date-range-picker>

    <h4>Slider</h4>
    <vue-slider v-model="range" :enable-cross="false" />

    <h4>Expandable input</h4>
    <span
        title="expandable input"
        class="input"
        role="textbox"
        contenteditable
        aria-placeholder="Please type someting in here"
    ></span>

    <h4>Rating</h4>
    <star-rating></star-rating>
</div>
