<form class = 'border py-4 container needs-validation'>
@slot{{selectFormType}}
    @slot{{normalInputs}}
    @slot{{enumInputs}}
    @slot{{linkedInputs}}@loop{subTypeInputs}[[    @slot{{normalTypedInputs}}    @slot{{enumTypedInputs}}    @slot{{linkedTypedInputs}}
    ]]loop{subTypeInputs}@
    <div class="d-flex justify-content-end mx-0 row">
        <div class="col-md-9"></div>
        <button type="button" class="btn btn-secondary" (click) = "reset()">Reset</button>
        <button type="button" class="ml-2 btn btn-primary" (click)="save()">Save</button>
    </div>
</form>

