@loop{linkedDomainInputOne2Many}[[
<div v-if="!parentData || !parentData.hidFields || !parentData.hidFields.includes('@slot{{fieldName}}')">
    <div class="d-flex flex-wrap justify-content-between align-items-end form-group">
        <button type="button" class="mr-1 btn btn-success" v-on:click="formSubModule@slot{{LinkedDomain}}Seen = !formSubModule@slot{{LinkedDomain}}Seen"> Form: @slot{{LinkedDomain}}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
        </button>
    </div>
    <div class="form-group" v-if="formSubModule@slot{{LinkedDomain}}Seen">
        <form-sub-module-@slot{{linkedJdomain}} v-bind:parentData="dataSubForm"></form-sub-module-@slot{{linkedJdomain}}>
    </div><br>
</div>]]loop{linkedDomainInputOne2Many}@