<form v-on:submit.prevent="create">
    <div class="form-group"><label class="form-label">Type</label>
        <select class="custom-select" v-model="coursemodule.type">
            <option value="" disabled="">&lt;Please choose one&gt;</option>
            <option value="compulsory">compulsory</option>
            <option value="elective">elective</option>
        </select></div><br>
    <div class="form-group">
        <label class="form-label">Id</label>
        <input disabled="" type="number" class="form-control" value="" v-model="coursemodule.id"></div><br>
    <div class="form-group">
        <label class="form-label">Code</label>
        <input disabled="" type="text" class="form-control" value="" v-model="coursemodule.code"></div><br>
    <div class="form-group">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" value="" v-model="coursemodule.name" required pattern="[A-Za-z1-9]+">
    </div>
    <br>
    <div class="form-group">
        <label class="form-label">Semester</label>
        <input type="number" class="form-control" value="" v-model="coursemodule.semester" required pattern="[A-Za-z1-9]+"></div><br>
    <div class="form-group">
        <label class="form-label">Credits</label>
        <input type="number" class="form-control" value="" v-model="coursemodule.credits" required>
    </div>
    <br>
    <div class="form-group" v-if="coursemodule.type == 'elective'">
        <label class="form-label" >Dept name</label>
        <input type="text" class="form-control" value="" v-model="coursemodule.deptName" required></div>
    <br><br>
    <div class="d-flex justify-content-end mx-0 row">
        <div class="col-md-9"></div>
        <button type="button" class="btn btn-secondary">Reset</button>
        <button class="ml-2 btn btn-primary">Save</button>
    </div>
    <Toasts></Toasts>
</form>