<div class="border py-4 container">
    <h2 class="text-center" :id="tree.observableTree[0].id">{{tree.observableTree[0].name}}</h2>
    <br />
    <div class="mx-0 d-flex justify-content-between row">
        <div class="px-0 col">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <p class="btn btn-primary nav-link" v-on:click="mainForm()">
                        Main
                    </p>
                </li>
                &nbsp;
                <li class="nav-item">
                    <p class="btn btn-primary nav-link" v-on:click="display=3">
                        Browse
                    </p>
                </li>
            </ul>
        </div>
        <!-- todo: BaseMainForm.renderTopButtonsExt():
        BaseMainForm: .vue file or JS class
        - (A) is super Vue component of all the module's index component        -->
        <!-- <auto-search @search="search = $event"></auto-search> -->

        <!-- (B) -->
        <BaseMainForm onRenderRegion="top-button-ext"/>

        <!-- BaseMainForm.topButtonExtension:
          this.consumers.map((consumer)=>(
            {consumer.onRenderRegion("searchbox")})
        -->
    </div>
    <br />
    <div class="tab-content">
        <div>
            <form-add v-if="display == 1" v-bind:parentData="dataSubForm"
                v-bind:parentID="tree.observableTree[0].id"></form-add>
        </div>
        <div>
            <form-add v-if="display == 2" v-bind:parentData="dataSubForm"
                v-bind:parentID="tree.observableTree[0].id"></form-add>
        </div>
        <div>
            <form-list v-if="display == 3" v-bind:parentData="dataSubForm" @data="setData"
                v-bind:search="search"></form-list>
        </div>
    </div>
    <Toasts></Toasts>
</div>