<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>City name</th>

            <th>Student</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr
            style="cursor: pointer"
            v-for="(address, index) in addresses"
            v-if="addresses"
            :key="address.id"
        >
            <td style="vertical-align: middle">{{index + 1}}</td>
            <td style="vertical-align: middle">{{address.id}}</td>
            <td style="vertical-align: middle">{{address.name}}</td>
            <td>{{address.student}}</td>
            <td style="vertical-align: middle; width: 200px">
                <button class="btn btn-primary" v-on:click="emitData(address)">
                    Edit
                </button>
                <a
                    class="btn btn-danger"
                    data-target="#myModal"
                    v-on:click="getAddressId(address.id)"
                    data-toggle="modal"
                >
                    Delete
                </a>
            </td>
        </tr>
    </tbody>
    <Toasts></Toasts>
    <modal-confirm @confirm="deleteAddress(addressId)"></modal-confirm>
</table>
