# The `node-options="--openssl-legacy-provider"` is a command line option
# that is used when running a Node.js application. It specifies the use
# of the OpenSSL legacy provider for cryptographic operations. This option
# is used when you want to use the older version of OpenSSL instead of the
# default provider.
node-options="--openssl-legacy-provider"