<div class="border py-4 container">
    <h2 class="text-center">Form: {{title}}</h2><br>
    <div *ngIf="view=='form'">
        <app-enrolment-form 
            (onHide)="changeView('list')"
            [searchId]="searchId"
            [params]="params"
            [viewMode]="viewMode"
            ></app-enrolment-form>
    </div>
    <div *ngIf="view=='list'">
        <app-enrolment-list 
            (onHide)="changeView('form')"
            (onItemSelect)="edit($event)"
            [params]="params"
            [belongsTo]="belongsTo"
        ></app-enrolment-list>
    </div>
</div>