
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th *ngFor="let column of columns">{{column.title}}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr style="cursor: pointer;" *ngFor="let data of list">
      <td *ngFor="let column of columns" (click) = "changeToDetails(data.id)">{{ renderItem(data[column.field]) }}</td>
      <td style="vertical-align: middle;">
        <button type="button" class="btn btn-danger" (click)="showModal(data.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div hidden [hidden] = "!show_modal" role="dialog" aria-modal="true" class="fade modal show" tabindex="-1" style="display: block; padding-right: 15px;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title h4">Confirm delete</div>
          <button type="button" class="close">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
          </button>
        </div>
        <div class="modal-body">Delete this resource?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" (click)="handleCancel()">Cancel</button>
          <button type="button" class="btn btn-danger btn-sm" (click)="handleOK()">Confirm</button>
        </div>
      </div>
    </div>
  </div>

