<div class="border py-4 container">
    <h2 class="text-center">Form: {{title}}</h2><br>
    <div *ngIf="view=='form'">
        <app-course-module-form 
            (onHide)="changeView('list')"
            [searchId]="searchId"
            [params]="params"
            [viewMode]="viewMode"
            [menuPrefix]="menuPrefix"
            (onEmbedded)="embeddedEvent.emit($event)"
            ></app-course-module-form>
    </div>
    <div *ngIf="view=='list'">
        <app-course-module-list 
            (onHide)="changeView('form')"
            (onItemSelect)="edit($event)"
            [params]="params"
            [belongsTo]="belongsTo"
        ></app-course-module-list>
    </div>
</div>