    <div class="border py-4 container">
        <h2 class="text-center">Form: {{title}}</h2><br>
        <div *ngIf="view=='form'">
            <app-@slot{{moduleJname}}-form
                (onHide)="changeView('list')"
                [searchId]="searchId"
                [params]="params"
                [viewMode]="viewMode"
                [belongsTo]="belongsTo"
                ></app-@slot{{moduleJname}}-form>
        </div>
        <div *ngIf="view=='list'">
            <app-@slot{{moduleJname}}-list
                (onHide)="changeView('form')"
                (onItemSelect)="edit($event)"
                [params]="params"
                [viewMode]="viewMode"
                [belongsTo]="belongsTo"
            ></app-@slot{{moduleJname}}-list>
        </div>
    </div>

