# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Git stuff
.git/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# draft examples
basic
courseman/standard
courseman/kse*
courseman/rivf*
courseman/soict*
dcsl-journal/
drawing/
helidon/
jee/
kengine/
pinevalleyfurniture/
processman4j/
vendingmachine/

# old stuff
bin/
archives/
classes/
data/
dist/
distsrc/
disttool/
examples/
previousReleases/
setup/
src.incoming/
build.xml
