# draft examples
basic
courseman/standard
courseman/kse*
courseman/rivf*
courseman/soict*
dcsl-journal/
drawing/
helidon/
jee/
kengine/
pinevalleyfurniture/
processman4j/
vendingmachine/

# old stuff
bin/
archives/
classes/
data/
dist/
distsrc/
disttool/
examples/
previousReleases/
setup/
src.incoming/
build.xml
