<div id="root">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-nav"><a href="/" class="navbar-brand">@slot{{AppName}}</a>
                <div class="dropdown">
                    <a role="button" class="dropdown-toggle nav-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Go to
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @loop{routerLinks}[[
                        <router-link class="dropdown-item" to="/@slot{{moduleJname}}">
                            Manage @slot{{Module__name}}
                        </router-link>
                        ]]loop{routerLinks}@
                    </div>
                </div>
            </div>
            <div class="navbar-nav"><a href="#" class="nav-link" role="button">Help</a></div>
        </div>
    </nav>
    </br>
    <div class="container">
        <router-view />
    </div>
</div>