<div class="mx-0 d-flex justify-content-between row" *ngIf="viewMode != 'embedded'">
    <div class="px-0 col">
        <button (click)="newItem()" class="me-2 btn btn-primary">Main</button>
        <button (click)="onHide()" class="me-2 btn btn-primary">Browse</button>
        <app-btn-delete *ngIf="item?.id" (confirmed)="deleteItem(item!.id)"></app-btn-delete>
    </div>
    <div class="px-0 d-flex justify-content-end col">
        <form class="d-flex justify-content-end form-inline" (ngSubmit)="getById()">
            <input placeholder="ID..." type="text" class="me-1 col-md-4 form-control" 
                [(ngModel)]="searchId" 
                name="searchId">
            
            <button type="submit" class="btn btn-outline-success">Search</button>
        </form>
    </div>
</div>
<br><br>

<form class='border py-4 container needs-validation' 
    [formGroup]="form">
    <div class="form-group">
        <label class="form-label">ID</label>
        <input type="text" class="form-control" name="id" disabled value="{{item?.id}}" />
    </div>
    <br>
    <div class="form-group">
        <label class="form-label">City name</label>
        <input 
            type="text" 
            class="form-control" 
            formControlName="name"
            [ngClass]="{'is-invalid': submitted && form.get('name')?.errors }" />

        <div *ngIf="submitted && form.get('name')?.errors" class="invalid-feedback">
            <div *ngIf="form.get('name')!.errors!['required']">Name is required</div>
            <div *ngIf="form.get('name')!.errors!['maxlength']">Name is maximum 20 characters</div>
        </div>
    </div>
    <br>

    <!-- one2one -->
    <ng-container *ngIf="params.student == undefined">
        <app-has-one formControlName="student" label="Student" apiName="students">
            <ng-template #subform let-ref>
                <app-student-form [item]="ref" viewMode="embedded" [params]="getParams({address: item})" />
            </ng-template>
        </app-has-one>

        <div *ngIf="submitted && form.get('student')?.errors" class="text-danger">
            <small *ngIf="form.get('student')!.errors!['required']">Student is required</small>
        </div>
        <br>
    </ng-container>

    <div class="d-flex justify-content-end">
        <button type="button" class="me-2 btn btn-secondary" (click)="onReset()">Reset</button>
        <button type="button" (click)="onSubmit()" class="me-2 btn btn-primary">Save</button>
    </div>
</form>