<div class="mx-0 d-flex justify-content-between row" *ngIf="viewMode!='has-one'">
    <div class="px-0 col">
        <button (click)="newItem()" class="me-2 btn btn-primary">Main</button>
        <button (click)="onHide()" class="me-2 btn btn-primary">Browse</button>
        <app-btn-delete *ngIf="item?.id" (confirmed)="deleteItem(item!.id)"></app-btn-delete>
    </div>
    <div class="px-0 d-flex justify-content-end col">
        <form class="d-flex justify-content-end form-inline" (ngSubmit)="getById()">
            <input placeholder="ID..." type="text" class="me-1 col-md-4 form-control" [(ngModel)]="searchId"
            name="searchId">
            
            <button type="submit" class="btn btn-outline-success">Search</button>
        </form>
    </div>
    <br>
</div>

<br>
<div class="row">
    <div class="col-3" *ngIf="viewMode=='default'">
        <ViewRegion name="menu"></ViewRegion>
    </div>

    <div class="col">
        <form class='border py-4 container needs-validation' [formGroup]="form" id="student" modelRegion="form">
            <div class="form-group">
                <label class="form-label">ID</label>
                <input type="text" class="form-control" name="id" disabled value="{{item?.id}}" id="id" modelRegion="forminput"/>
            </div>
            <br>
            
            <div class="form-group">
                <label class="form-label">Full Name</label>
                <input type="text" class="form-control" formControlName="name" name="name" id="name" modelRegion="forminput"
                [ngClass]="{'is-invalid': submitted && form.get('name')?.errors }" />
                
                <div *ngIf="submitted && form.get('name')?.errors" class="invalid-feedback">
                    <div *ngIf="form.get('name')!.errors!['required']">Full Name is required</div>
                    <div *ngIf="form.get('name')!.errors!['maxlength']">Full Name is maximum 30 characters</div>
                </div>
            </div>
            <br>
            
            <div class="form-group">
                <label class="form-label">Date of birth</label>
                <input type="date" class="form-control" formControlName="dob" id="dob" modelRegion="forminput"
                [ngClass]="{'is-invalid': submitted && form.get('dob')?.errors }"   />
                
                <div *ngIf="submitted && form.get('dob')?.errors" class="invalid-feedback">
                    <div *ngIf="form.get('dob')!.errors!['required']">Date of birth is required</div>
                    <div *ngIf="form.get('dob')!.errors!['maxlength']">Date of birth is maximum 15 characters</div>
                </div>
            </div>
            <br>
            
            <div class="form-group">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="email" id="email" modelRegion="forminput"
                [ngClass]="{'is-invalid': submitted && form.get('email')?.errors }"  />
                
                <div *ngIf="submitted && form.get('email')?.errors" class="invalid-feedback">
                    <div *ngIf="form.get('email')!.errors!['required']">Email is required</div>
                    <div *ngIf="form.get('email')!.errors!['email']">Email is invalid format</div>
                    <div *ngIf="form.get('email')!.errors!['maxlength']">Email is maximum 30 characters</div>
                </div>
            </div>
            <br>
            
            <div class="form-group">
                <label class="form-label">Gender</label>
                <select class="form-control" formControlName="gender" id="gender" modelRegion="forminput"
                [ngClass]="{'is-invalid': submitted && form.get('gender')?.errors }" >
                
                <option value="" disabled="">&lt;Please choose one&gt;</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            
            <div *ngIf="submitted && form.get('gender')?.errors" class="invalid-feedback">
                <div *ngIf="form.get('gender')!.errors!['required']">Gender is required</div>
            </div>
        </div>
        <br>
        
        <!-- one2one -->
        <ng-container *ngIf="params.address == undefined">
            <app-has-one formControlName="address" label="Address" apiName="addresses">
                <ng-template #subform let-ref>
                    <app-address-form viewMode="embedded" [item]="ref" [params]="getParams({student: item})" />
                </ng-template>
            </app-has-one>
            <div *ngIf="submitted && form.get('address')?.errors" class="text-danger">
                <small *ngIf="form.get('address')!.errors!['required']">Address is required</small>
            </div>
            <br>
        </ng-container>
        
        <!-- many2one -->
        <ng-container *ngIf="params.studentClass == undefined">
            <app-belongs-to formControlName="studentClass" label="Student Class" apiName="student-classes" />
            <div *ngIf="submitted && form.get('studentClass')?.errors" class="text-danger">
                <small *ngIf="form.get('studentClass')!.errors!['required']">Student Class is required</small>
            </div>
            <br>
        </ng-container>

        <app-has-many label="Enrolment">
            <app-enrolment viewMode="embedded" belongsTo="students/{{item?.id}}/"
                [params]="getParams({student: item})"></app-enrolment>
        </app-has-many>
        
        <br>
        <div class="d-flex justify-content-end">
            <button type="reset" class="me-2 btn btn-secondary">Reset</button>
            <button type="button" (click)="onSubmit()" class="me-2 btn btn-primary">Save</button>
        </div>
    </form>
</div>
</div>
