<div class="form-group">
                <label class="form-label">@slot{{fieldLabel}}</label>
                <input type="text" class="form-control" name="@slot{{fieldName}}" value="{{item?.@slot{{fieldName}}}}" @slot{{fieldOptions}} />
                <div *ngIf="submitted && form.get('@slot{{fieldName}}')?.errors" class="invalid-feedback">
                    <div *ngIf="form.get('@slot{{fieldName}}')!.errors!['required']">@slot{{fieldLabel}} is required</div>
                    <div *ngIf="form.get('@slot{{fieldName}}')!.errors!['maxlength']">@slot{{fieldLabel}} is maximum @slot{{maxLength}} characters</div>
                </div>
                </div>