
<div id="root">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
      <div class="navbar-nav">
        <a href="/" class="navbar-brand">Courseman</a>
        <div class="btn-group dropup">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Go to
          </button>
          <div class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -2px, 0px); top: 0px; left: 0px; will-change: transform;">
            <a routerLink="/course-modules" class="dropdown-item">Manage Course modules</a>
            <a routerLink="/enrolments" class="dropdown-item">Manage Enrolments</a>
            <a routerLink="/students" class="dropdown-item">Manage Students</a>
            <a routerLink="/addresses" class="dropdown-item">Manage Addresses</a>
            <a routerLink="/student-classes" class="dropdown-item">Manage Student classes</a>
          </div>
        </div>
      </div>
      <div class="navbar-nav">
        <a href="#" class="nav-link" role="button">Help</a>
      </div>
    </div>
  </nav>
  <br>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
