
<div id="root">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-nav">
                <a href="/" class="navbar-brand">@slot{{AppName}}</a>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Go to
                    </button>
                    <ul class="dropdown-menu">@loop{routerLink}[[
                        <li>
                            <a class="dropdown-item" routerLink="/@slot{{moduleJnames}}">Manage @slot{{Module__Name}}</a>]]loop{routerLink}@
                        </li>
                    </ul>
                </div>
            </div>
            <div class="navbar-nav">
                <a href="#" class="nav-link" role="button">Help</a>
            </div>
        </div>
    </nav>
    <br>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
